
root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]

# S3604: Member initializer values should not be redundant
dotnet_diagnostic.S3604.severity = none

# S1450: Private fields only used as local variables in methods should become local variables
dotnet_diagnostic.S1450.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
